NODE_ENV=production
HOST=0.0.0.0
PORT=3000
APP_BASE_URL=https://app.triumphbehavioral.com

DATA_STORE=postgres
DB_HOST=database-1.co3ksgyeg6vl.us-east-1.rds.amazonaws.com
DB_PORT=5432
DB_NAME=postgres
DB_USER=aba_admin
DB_PASSWORD=replace-with-secret-manager-value
DB_SSL=true
DB_SSL_REJECT_UNAUTHORIZED=true
# DB_CA_CERT=optional-rds-ca-certificate-content

DOCUMENT_STORE=s3
AWS_REGION=us-east-1
S3_BUCKET=triumph-aba-uploads-prod
